body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff; /* White background color */
    color: #333; /* Dark text color */
}

h2 {
    text-align: center;
    margin-top: 50px;
    color: #333; /* Dark text color */
}

form {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #555; /* Dark background color */
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #fff; /* White text color */
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    border-right: 2px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff; /* Primary blue color for submit button */
    color: #fff; /* White text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3; /* Darker blue color on hover */
}
