/* userpage.css */

/* Body styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; 
    color: #333; 
}

/* Header styles */
header {
    background-color: #333; 
    color: #fff; 
    padding: 10px 0; 
}

#container {
    width: 80%; 
    margin: 0 auto; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

h3.name {
    margin: 0; 
}

.tag,
.tag1 {
    color: #fff; /* White text color for header links */
    text-decoration: none; /* Remove underline from links */
    padding: 10px 15px; /* Padding for header links */
    border-radius: 5px; /* Rounded corners for header links */
    transition: background-color 0.3s ease; /* Smooth transition effect */
}
.tag2 {
    color: #fff;
    text-decoration: none;
    background-color: #28a745;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left:  425px;
}
.tag:hover,
.tag1:hover {
    background-color: #444; /* Darker background color on hover */
}
.tag2:hover {
    background-color: #444; /* Darker background color on hover */
}


